In [15]:
#2019.01_06중에 언제 지하철을 가장 많이 이용했을까?(기준:승하차총승객수)
import pandas as pd

In [16]:
subway_month_201901 = pd.read_csv('CARD_SUBWAY_MONTH_201901.csv')
subway_month_201902 = pd.read_csv('CARD_SUBWAY_MONTH_201902.csv')
subway_month_201903 = pd.read_csv('CARD_SUBWAY_MONTH_201903.csv')
subway_month_201904 = pd.read_csv('CARD_SUBWAY_MONTH_201904.csv')
subway_month_201905 = pd.read_csv('CARD_SUBWAY_MONTH_201905.csv')
subway_month_201906 = pd.read_csv('CARD_SUBWAY_MONTH_201906.csv')

raw = pd.concat([subway_month_201901,subway_month_201902,subway_month_201903\
                ,subway_month_201904,subway_month_201905,subway_month_201906\
               ],axis=0)

In [17]:
raw

           사용일자  노선명     역명   승차총승객수   하차총승객수      등록일자
0      20190101  2호선  을지로4가   3862.0   3728.0  20190104
1      20190101  3호선  을지로3가   8104.0   7554.0  20190104
2      20190101  2호선  을지로입구  22478.0  21330.0  20190104
3      20190101  2호선     시청   8381.0   6049.0  20190104
4      20190101  6호선    동묘앞   8045.0   8504.0  20190104
...         ...  ...    ...      ...      ...       ...
17719  20190630  7호선     마들   6622.0   6116.0  20190703
17720  20190630  4호선     노원  14071.0  14702.0  20190703
17721  20190630  7호선     중계   9516.0   8981.0  20190703
17722  20190630  7호선     하계  11645.0  11121.0  20190703
17723  20190630  6호선   태릉입구   5730.0   5214.0  20190703

[107028 rows x 6 columns]

In [18]:
raw['사용일자'] = pd.to_datetime(raw['사용일자'], format='%Y%m%d')

In [19]:
raw['요일'] = raw['사용일자'].dt.dayofweek

In [20]:
conv = {
    0 : '일',
    1 : '월',
    2 : '화',
    3 : '수',
    4 : '목',
    5 : '금',
    6 : '토'
}

In [21]:
raw['요일'] = raw['요일'].map(conv)

In [22]:
raw.sample(5)

            사용일자  노선명  역명   승차총승객수   하차총승객수      등록일자 요일
16467 2019-02-28  경의선  문산   6810.0   6973.0  20190303  수
9249  2019-02-16  1호선  녹양   4518.0   4160.0  20190219  금
3960  2019-06-07  3호선  오금   3845.0   3665.0  20190610  목
15739 2019-06-27  5호선  신정  15231.0  10631.0  20190630  수
1893  2019-01-04  4호선  동작   2625.0   2897.0  20190107  목

In [23]:
raw['연월'] = raw['사용일자'].dt.strftime('%Y-%m')

In [24]:
raw['월일'] = raw['사용일자'].dt.strftime('%m-%d')

In [25]:
raw['승하자총승객수'] = raw['승차총승객수'] + raw['하차총승객수']

In [26]:
raw = raw[['사용일자', '요일', '노선명', '역명', '승차총승객수', '하차총승객수', '승하자총승객수', '연월', '월일', '등록일자' ]]